.container{
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 700px;
    border: 1px solid black;
    margin-top: 8px;
}
.row{
    display: flex;
    flex: 1;
}
.box{
    flex: 1;
    border: 1px solid black;
}
.hover{
    background-color: black;
}